body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('C:\Users\cdenjean\OneDrive - Capgemini\Images\R.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #333;
}
